body {
    margin: 0;
    color: white;
    cursor: default;
    font-family: sans-serif;
}

#loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: rgb(182, 182, 182);
}

#loadingAnimation {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid rgb(47, 167, 214);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#mainContent {
    display: none;
    justify-content: center;
}

.bg-body-tertiary {
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255) !important;
}

#logo {
    width: 30px;
    height: 30px;
    margin-right: 4px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.form-control {
    width: 140px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokemon-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 56px;
}

.cardContent {
    width: 200px;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.1s;
}

.cardContent:hover {
    transform: scale(1.03);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.type {
    text-align: center;
    padding-inline: 16px;
    margin-top: 8px;
    margin-right: 4px;
    height: 24px;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.3);
}

.infoType {
    text-align: center;
    padding-inline: 16px;
    margin-top: 8px;
    margin-right: 4px;
    height: 24px;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.3);
}

.infoTypes {
    display: flex;
    margin-left: 40px;
}

#imagePosition {
    display: flex;
    justify-content: space-around;
}

#image {
    width: 100px;
}

#pokemon-info {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.infoContent {
    width: 80%;
    border-radius: 16px;
}

#infoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding-inline: 40px;
}

#infoTypes {
    display: flex;
    padding-inline: 40px;
}

#infoImage {
    position: absolute;
    top: 200px;
    width: 250px;
}

#infoCard {
    padding: 40px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
    color: black;
}

#categories {
    display: flex;
    justify-content: space-evenly;
    color: rgb(160, 160, 160);
}

.onclick {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: rgb(141, 152, 227);
}

#categoryContent {
    background-color: white;
}

.cursor-pointer {
    cursor: pointer;
}

#heightAndWeight {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -8px #000000;
}

#height,
#weight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 8px;
}

.color-grey {
    color: rgb(160, 160, 160);
}

.w-124 {
    width: 124px;
}

#xButton {
    margin: 16px;
    font-size: 24px;
    color: white;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#loadButton {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(47, 167, 214);
    color: white;
    cursor: pointer;
}

.infoImage {
    width: 200px;
}

.previousNextButtons {
    border: 0;
    background-color: #00000000;
    cursor: pointer;
}

.imageAndButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 32px;
}

.progessBar {
    height: 4px;
    width: 150px;
}

@media (max-width: 400px) {
    h3 {
        font-size: 20px;
    }

    #infoCard {
        padding-inline: 24px;
    }

    #categoryContent {
        font-size: 15px;
    }
}